body{
    background-color: #E6CB96;
}

.container-table{
    background-color: white;
    width: 95%;
    padding: 0;
 }
 
.mb-3{
    margin: 10px;
}

.form-check{
    margin: 10px;
}

.btn-posicao{
    margin: 10px;
}

.btn-posicao-center{
    justify-content: center;
    display: flex;
    margin-top: 5px;
}

.img-posicao{
    margin-top: 10px ;
    justify-content: center;
    display: flex;
}

.container-fluid5{
    margin: 10px;
    padding: 10px;
}

#botao-busca{
    margin-left: 10px;
}

#botao-cadastro{
    margin-top: 10px;
}

#botao-mudar{
    margin-top: 15px;
}

#botao-remover{
    margin-bottom: 10px;
}

#table1{
    width: 100%;
    margin-top: 10px;
}

.container-fluid #table1{
    overflow-y: scroll;
}

#label-busca{
    margin-right: 10px;
}

#table2{
    width: 100%;
}

#table3{
    width: 100%;
}

table, th{
    border: 3px solid;
}

tr:hover{
    background-color:lightgray;
}

td{
    border: 2px solid;
    height: 80px;
    text-align: left;
}

.start-date{
    margin-bottom: 15px;
}

.finish-date{
    margin-top: 15px;
    margin-bottom: 15px;
}

#check-end{
    margin-bottom: 15px;
}

#check-end2{
    margin-bottom: 15px;
}

.btn-primary {
    background-color:olivedrab!important;
    border-color: olive !important;
    color: black !important;
}

.w-40 {
    width: 40% !important;
}

.welcome-message {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    overflow-y: scroll;
}

.space {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    justify-items: center;
}