#botao-busca{
    margin-top: 32px;
}

#botao-cadastro{
    margin-top: 10px;
}

#table1{
    width: 100%;
    margin-top: 10px;
}

.container-fluid #table1{
    overflow-y: scroll;
}

#table2{
    width: 100%;
}

#table3{
    width: 100%;
}

table, th{
    border: 3px solid;
}

tr:hover{
    background-color:lightgray;
}

td{
    border: 2px solid;
    height: 80px;
    text-align: left;
}