.tela-login{
    width: 100%;
    min-height: 100vh;
    background-color: #E6CB96;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-login{
        width: 500px;  
        height: 380px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        gap: 20px;
        padding: 15px;
} 
  
.form-floating{
    width: 90%;
    margin: 10px;
}

.tela-cadastro{
    width: 100%;
    min-height: 100vh;
    background-color: #E6CB96;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-cadastro{
    width: 900px;
    height: 400px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.caixa-login{
    width: 500px;  
    height: 420px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
    padding: 15px;
} 
