.container-table{
    background-color: white;
    width: 95%;
    padding: 0;
 }

body{
    background-color: #E6CB96;
}

.container-fluid5{
    margin: 10px;
    padding: 10px;
}

#botao-busca{
    margin-top: 32px;
}

#botao-cadastro{
    margin-top: 10px;
}

#botao-mudar{
    margin-top: 15px;
}

#botao-remover{
    margin-top: 33px;
}

#table1{
    width: 100%;
    margin-top: 10px;
}

.container-fluid #table1{
    overflow-y: scroll;
}

#table2{
    width: 100%;
}

#table3{
    width: 100%;
}

table, th{
    border: 3px solid;
}

tr:hover{
    background-color:lightgray;
}

td{
    border: 2px solid;
    height: 80px;
    text-align: left;
}

.start-date{
    margin-bottom: 15px;
}

.finish-date{
    margin-top: 15px;
    margin-bottom: 15px;
}

#check-end{
    margin-bottom: 15px;
}

#check-end2{
    margin-bottom: 15px;
}

#caixa-desc{
    height: 100px;
}

